<span class="hover pagename redditname">
	{{link-to currentSub "subreddit.hot" currentSub}}
</span>
<ul class="tabmenu">
	<li>{{link-to "hot" "subreddit.hot" currentSub}}</li>
	<li>{{link-to "new" "subreddit.new" currentSub}}</li>
	<li>{{link-to "rising" "subreddit.rising" currentSub}}</li>
	<li>{{link-to "controversial" "subreddit.controversial" currentSub}}</li>
	<li>{{link-to "top" "subreddit.top" currentSub}}</li>
	<li>{{link-to "gilded" "subreddit.gilded" currentSub}}</li>
	<li>{{link-to "promoted" "subreddit.promoted" currentSub}}</li>
</ul>