<div id="siteTable" class="sitetable linklisting">
	{{#if hasPost}}
		{{view "thing" context=postThing currentSub=currentSub}}
	{{else}}
		<p id="noresults" class="error">theredoesn't seem to be anything here</p>
	{{/if}}
</div>

<div class="commentarea">
	<div class="panestack-title">
		<span class="title">{{totalNumComments}} {{plurarizeComment}}</span>
	</div>
	<div class="menuarea"></div>
	<div class="sitetable nestedlisting">
		{{#each thing in model.comments.children}}
			{{view "thing" context=thing currentSub=currentSub}}
		{{else}}
			<p id="noresults" class="error">theredoesn't seem to be anything here</p>
		{{/each}}
	</div>
</div>