
<div class="spacer">
	<form id="search" action="#" role="search">
		<input type="text" name="q" placeholder="search" tabindex="20">
		<input type="submit" tabindex="22" value>
		<div id="searchexpando" class="infobar" tabindex="20">
			<label>
				<input type="checkbox" name="restrict_sr" tabindex="21">
				limit my search to {{model.about.data.url}} {{!-- TODO: maybe use display_name here--}}
			</label>
			<div id="moresearchinfo">
				{{!-- TODO --}}
			</div>
			<p>
				<a href="javascript:void(0)" id="search_showmore">advanced search: by author, subreddit...</a>
			</p>
		</div>
	</div>
</div>
{{!-- <div class="spacer">
	TODO: Login
</div> --}}

<div class="spacer">
	<div class="sidebox submit submit-link">
		<div class="morelink">
			<a href="javascript:void(0);">Submit a new link</a>
			<div class="nub"></div>
		</div>
	</div>
</div>

<div class="spacer">
	<div class="sidebox submit submit-link">
		<div class="morelink">
			<a href="javascript:void(0);">Submit a new text post</a>
			<div class="nub"></div>
		</div>
	</div>
</div>

<div class="spacer">
	<div class="titlebox">
		<h1 class="however redditname">
			{{model.about.data.display_name}}
		</h1>

		<span class="subscriber">
			<span class="number">{{subscribersString}}</span>
			<span class="word">readers</span> {{!TODO: auto-plurilize}}
		</span>

		<p class="users-online fuzzed" title="logged-in users viewing this subreddit in the past 15 minutes">
			<span class="number">~{{activeAccountsString}}</span>
			<span class="word">users here now</span> {{!TODO: auto-plurilize}}
		</p>

		<div class="usertext-body md-container">
			{{{renderedDescription}}}
		</div>

		<div class="bottom">
			created by <a href="javascript:void(0);">TODO</a>
			<span class="userattrs"></span>
			<span class="age">
				a communitry for {{time-ago datetime=model.about.data.created_utc noSuffix=true}}
			</span>
		</div>

		<div class="clear"></div>
	</div>
</div>