<p class="parent"></p>
<span class="rank">{{index}}</span>
{{vote-score score=score likes=likes}}
{{thumbnail-preview url=url src=thumbnail}}
<div class="entry">
	<p class="title"><a {{bind-attr href=url}}>{{title}}</a> <span class="domain">({{link-to domain "domain" domain}})</span></p>
	{{#if view.hasSelfText}}
		<div {{bind-attr class=":expando-button :selftext view.isExpandoExpanded:expanded:collapsed"}} {{action "expandExpando" target=view}}></div>
	{{/if}}
	{{#if view.hasMediaEmbed}}
		<div {{bind-attr class=":expando-button :video view.isExpandoExpanded:expanded:collapsed"}} {{action "expandExpando" target=view}}</div>
	{{/if}}
	<p class="tagline">Submitted {{time-ago datetime=created_utc}} by {{link-to author 'user' author}}</p>
	<ul class="flat-list buttons">
		<li class="first">
			{{#link-to "comments" subreddit id}}{{num_comments}} comments{{/link-to}}
		</li>
		<li class="share"></li>
	</ul>
	{{#if view.hasSelfText}}
		<div {{bind-attr class=":expando :usertext view.isExpandoExpanded::hide"}}>
			<div class="usertext-body md-container">
				{{{view.renderedSelfText}}}
			</div>
		</div>
	{{/if}}
	{{#if view.hasMediaEmbed}}
		<div {{bind-attr class=":expando view.isExpandoExpanded::hide"}}>
			{{!-- {{{view.renderedMediaEmbed}}} --}}
		</div>
	{{/if}}
</div>
